{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% block title %}Mai Hoa Dịch Quán{% endblock %}

{% block content %}
<main id="content">
    <div class="container px-2 px-md-4">

        <div class="home-form ">
            <div class="row">
                <img src="/static/assets/img/banner123.jpg" alt="Logo" class="img-fluid" style="max-height: 800px;">
            </div>
            <div class="list-buttons d-flex flex-wrap justify-content-between mt-2">
                <div class="button-hre flex-fill text-center px-2">
                    <a href="/"><span>Tin Tức</span></a>
                </div>
                <div class="button-hre flex-fill text-center px-2">
                    <a href="/gioi-thieu"><span>Giới thiệu</span></a>
                </div>
                <div class="button-hre flex-fill text-center px-2">
                    <a href="/tai-lieu-ngu-hanh/"><span>Ngũ Hành</span></a>
                </div>
                <div class="button-hre flex-fill text-center px-2">
                    <a href="/tai-lieu-co-nhan/"><span>Tâm Linh</span></a>
                </div>
            </div>

            <div class="block-title-custom-d">
                <h2 class="fw-bold text-center fs-4 mb-2">Tử Vi Trọn Đời 12 Con Giáp</h2>

            </div>

            <div class="list-buttons row row-cols-4 row-cols-sm-4 row-cols-lg-6 g-3 mt-3 text-center">


                <!-- Button mẫu dùng lại -->
                <div class="col">
                    <a href="/tu-vi-tuoi-ty" class="btn-icon d-block">
                        <img src="static/assets/img/con-chuotj.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Tý</p>

                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-suu" class="btn-icon d-block">
                        <img src="static/assets/img/con-trau.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Sửu</p>

                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-dan" class="btn-icon d-block">
                        <img src="static/assets/img/con-ho.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Dần</p>

                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-mao" class="btn-icon d-block">
                        <img src="static/assets/img/con-meo.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Mão</p>

                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-thin" class="btn-icon d-block">
                        <img src="static/assets/img/con-rong.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Thìn</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-ti" class="btn-icon d-block">
                        <img src="static/assets/img/con-ran.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Tỵ</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-ngo" class="btn-icon d-block">
                        <img src="static/assets/img/con-ngua.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Ngọ</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-mui" class="btn-icon d-block">
                        <img src="static/assets/img/con-de.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Mùi</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-than" class="btn-icon d-block">
                        <img src="static/assets/img/con-khi.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Thân</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-dau" class="btn-icon d-block">
                        <img src="static/assets/img/con-ga.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Dậu</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-tuat" class="btn-icon d-block">
                        <img src="static/assets/img/con-cho.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Tuất</p>
                    </a>
                </div>

                <div class="col">
                    <a href="/tu-vi-tuoi-hoi" class="btn-icon d-block">
                        <img src="static/assets/img/con-lon.png" alt="icon"
                             class="img-fluid img-button mx-auto">
                        <p class="fw-bold text-dark">Hợi</p>
                    </a>
                </div>

            </div>


        </div>
    </div>
    <div class="container px-md-0 px-2">
        <div class="row">
            <div class="col-md-8">



                <div class="blog-area">

                    <div class="remove-margin-bottom text-center">
                        <div class="block-title-custom-d">
                            <h2 class="fw-bold text-center mb-2 fs-6 fs-md-2">Sứ Mệnh Của Mai Hoa Dịch Quán</h2>

                        </div>

                    </div>

                     <div class="text-center mb-4">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/anhs1_wkmguf.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Ảnh Bát Tự">
                    </div>


                    <div class="text-center mb-4">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/anhs2_xvijba.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Ảnh Bát Tự">

                    </div>





                </div>



                <div class="blog-area">

                    <div class="remove-margin-bottom text-center">
                        <div class="block-title-custom-d">
                            <h2 class="fw-bold text-center mb-2 fs-4 fs-md-2">Ấn Để Xem Tài Liệu Bát Tự</h2>

                        </div>

                    </div>

                    <div class="text-center">
                        <a href="/tai-lieu-bat-tu">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/battu2_ohtftb.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Ảnh Bát Tự">
                        </a>
                    </div>


                </div>


                <div class="blog-area py-4">
                    <div class="remove-margin-bottom text-center">
                        <div class="block-title-custom-d">
                            <h2 class="fw-bold text-center mb-2 fs-5 fs-md-1">Ấn Để Xem Tài Liệu Phong Thủy</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/tai-lieu-phong-thuy">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/phongthuy1_gcms1u.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Phong Thủy">
                        </a>
                    </div>
                </div>


                <div class="blog-area pt-4 pb-0">
                    <div class="remove-margin-bottom text-center">
                        <div class="block-title-custom-d-maihoa">
                            <h2 class="fw-bold text-center mb-2 fs-5 fs-md-1">Ấn Để Xem Tài Liệu Quẻ Mai Hoa</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/tai-lieu-mai-hoa">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/maihoa1_glfgug.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Mai Hoa">
                        </a>
                    </div>
                </div>

                <div class="blog-area pt-4 pb-0">
                    <div class="remove-margin-bottom text-center">
                        <div class="block-title-custom-d">
                            <h2 class="fw-bold text-center mb-2 fs-5 fs-md-2">Ấn Để Xem Tài Liệu Tâm Linh</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/tai-lieu-co-nhan">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/vanhoatamlinh1_t4irzl.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Văn Hóa Tâm Linh">
                        </a>
                    </div>
                </div>


                <div class="blog-area py-4">
                    <div class="remove-margin-bottom text-center">
                        <div class="block-title-custom-d-ngu-hanh">
                            <h2 class="fw-bold text-center mb-2 fs-5 fs-md-2">Ấn Để Xem Tài Liệu Ngũ Hành</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/tai-lieu-ngu-hanh">
                            <img src="https://res.cloudinary.com/do70ncw14/image/upload/nguhanh1_cbeupx.jpg"
                                 class="img-fluid w-100 rounded shadow-sm"
                                 alt="Ngũ Hành">
                        </a>
                    </div>
                </div>


                <div class="container mb-3 px-3">
                    <h2 class="fw-bold text-dark fs-5 text-center">GIÁ TRỊ CHÚNG TÔI MANG LẠI</h2>


                    <div class="text-center mb-5">
                        <img src="https://res.cloudinary.com/do70ncw14/image/upload/giatrimanglaix_axoi3g.jpg"
                             class="rounded shadow-sm w-100"
                             style="max-height: 800px;"
                             alt="Khách hàng 1">
                    </div>
                </div>
            </div>


            <aside class="col-md-4 end-sidebar-lg-2">
                <div class="sticky">
                    <!--    <img class="img-fluid rounded shadow-sm w-100" src="https://img.freepik.com/free-photo/50th-birthday-arrangement-with-cake-cooking-ingredients_23-2149117985.jpg" alt="Mai Hoa Dịch Quán">-->

                    <!-- Facebook Section -->
                    <div class="social-section">
                        <div class="block-title-custom-z fs-5"> Theo dõi chúng tôi trên Fanpage</div>
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous"
                                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0"></script>
                        <div class="fb-page"
                             data-href="https://www.facebook.com/maihoadichquan/"
                             data-tabs="timeline"
                             data-width="500"
                             data-height="400"
                             data-adapt-container-width="true"
                             data-hide-cover="false"
                             data-show-facepile="true">
                        </div>
                    </div>


                </div>

            </aside>


        </div>


        <div class="container py-5">
            <div class="text-center mb-5">
                <h2 class="fw-bold text-dark fs-5">Khách hàng nói gì về chúng tôi</h2>
            </div>

            <div class="d-flex flex-nowrap overflow-auto gap-3 justify-content-start px-2">
                <!-- Testimonial 1 -->
                <div class="text-center flex-shrink-0" style="width: 140px;">
                    <img src="static/assets/img/anhkhach1.jpeg"
                         class="img-fluid rounded shadow-sm mb-2" alt="Khách hàng 1">
                    <h6 class="fw-bold mb-1">Hồng Lê</h6>
                    <p class="text-warning mb-1">★★★★★</p>
                    <p class="text-muted small">Dịch vụ tuyệt vời, tôi rất hài lòng!</p>
                </div>

                <!-- Testimonial 2 -->
                <div class="text-center flex-shrink-0" style="width: 140px;">
                    <img src="static/assets/img/anhkhach2.jpg"
                         class="img-fluid rounded shadow-sm mb-2" alt="Khách hàng 2">
                    <h6 class="fw-bold mb-1">Kim Cúc</h6>
                    <p class="text-warning mb-1">★★★★☆</p>
                    <p class="text-muted small">Thông tin chi tiết, rõ ràng và dễ hiểu.</p>
                </div>

                <!-- Testimonial 3 -->
                <div class="text-center flex-shrink-0" style="width: 140px;">
                    <img src="static/assets/img/anhkhach3.jpg"
                         class="img-fluid rounded shadow-sm mb-2" alt="Khách hàng 3">
                    <h6 class="fw-bold mb-1">Hà Quỳnh Diệp</h6>
                    <p class="text-warning mb-1">★★★★★</p>
                    <p class="text-muted small">Trải nghiệm tuyệt vời và đáng tin cậy.</p>
                </div>

                <!-- Testimonial 4 -->
                <div class="text-center flex-shrink-0" style="width: 140px;">
                    <img src="static/assets/img/anhkhach4.jpg"
                         class="img-fluid rounded shadow-sm mb-2" alt="Khách hàng 4">
                    <h6 class="fw-bold mb-1">Xuân Nghị</h6>
                    <p class="text-warning mb-1">★★★★★</p>
                    <p class="text-muted small">Tư vấn nhanh chóng, hiệu quả cao.</p>
                </div>

                <!-- Testimonial 5 -->
                <div class="text-center flex-shrink-0" style="width: 140px;">
                    <img src="static/assets/img/anhkhach5.jpg"
                         class="img-fluid rounded shadow-sm mb-2" alt="Khách hàng 5">
                    <h6 class="fw-bold mb-1">Suri Nguyen</h6>
                    <p class="text-warning mb-1">★★★★☆</p>
                    <p class="text-muted small">Có ích cho quyết định kinh doanh của tôi.</p>
                </div>
            </div>
        </div>


    </div>


</main>
{% endblock %}

<style>


    .card-title {
        color: black; /* Màu mặc định là đen */
        transition: color 0.3s ease-in-out; /* Hiệu ứng chuyển màu mượt mà */
    }

    .card-title:hover {
        color: yellow; /* Màu vàng khi hover */
    }

    .mb-4 {
        margin-bottom: 0rem !important;
    }

    .remove-margin-bottom {
        margin-bottom: 0 !important;
    }

    @media (max-width: 418px) {
        .image-wrapper img {
            width: 80px; /* Điều chỉnh kích thước ảnh nhỏ hơn */
            height: auto; /* Giữ tỷ lệ */
        }
    }


    .list-tools .tool-its a {
        color: #fff !important;
        background: rgba(207, 58, 23, 0.6) !important;
        padding: 6px 4px !important;
        width: 100% !important;
        display: inline-block !important;
        font-size: 18px !important;
        text-align: center !important;
        border-radius: 5px;
        text-decoration: none;
    }

    .list-tools .tool-it a:hover,
    .list-tools .tool-it a.active {
        background: #910101;
    }

    /* Global Styles */
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #D6B074;
        color: #333;
        margin: 0;
        padding: 0;
    }


    .about-section h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .about-section .feature-box {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .about-section .feature-box:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .about-section .icon {
        font-size: 40px;
        color: #ffc107;
        margin-bottom: 10px;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .about-section h2 {
            font-size: 1.8rem;
        }

    }


</style>
<style>
    @media (max-width: 576px) {
        .testimonial-col {
            flex: 0 0 20%;
            max-width: 20%;
            padding-left: 4px;
            padding-right: 4px;
        }

        .testimonial-img {
            max-width: 100%;
            height: auto;
        }

        .testimonial-text {
            font-size: 11px;
        }

        .testimonial-name {
            font-size: 12px;
        }
    }



</style>