{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% block title %}Mai Hoa Dịch Quán{% endblock %}

{% block content %}
<main id="content">
    <div class="container mt-3 mb-3">
        <div class="home-form ">
            <div class="row">
                <img src="/static/assets/img/demo2.jpg" alt="Logo" class="img-fluid" style="max-height: 800px;">
            </div>
            <div class="list-buttons row col-mar-5 mt-2">

                <div class="button-hre col-lg-f20 col-sm-4 col-6 px-2">
                    <a class="" href="#bat-tu-menh-ly"><span>Tài Liệu Mệnh Lý</span></a>
                </div>

                <div class="button-hre col-lg-f20 col-sm-4 col-6 px-2">
                    <a class="" href="#phong-thuy-dia-ly"><span>Tài Liệu Phong Thủy</span></a>
                </div>
                <div class="button-hre col-lg-f20 col-sm-4 col-6 px-2">
                    <a class="" href="#dao-ly-co-nhan"><span>Tài Liệu Cổ Nhân</span></a>
                </div>
                <div class="button-hre col-lg-f20 col-sm-4 col-6 px-2">
                    <a class="" href="#kinh-dich-mai-hoa"><span>Tài Liệu Mai Hoa</span></a>
                </div>
                <div class="button-hre col-lg-f20 col-sm-4 col-6 px-2">
                    <a class="" href="#vat-pham-phong-thuy"><span>Tài Liệu Ngũ Hành</span></a>
                </div>
                <div class="col-lg-f20 col-sm-4 col-6 px-2">
                    <div class="button-hre"><a class="" href="/gioi-thieu/"><span>Dịch Vụ</span></a></div>
                </div>

            </div>

            <div class="list-buttons row row-cols-3 row-cols-sm-4 row-cols-lg-6 g-3 mt-3 text-center">

                <!-- Button mẫu dùng lại -->
                <div class="col">
                    <a href="#bat-tu-menh-ly" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#phong-thuy-dia-ly" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/2942/2942861.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#dao-ly-co-nhan" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#kinh-dich-mai-hoa" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/3940/3940057.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#vat-pham-phong-thuy" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/3534/3534068.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="/gioi-thieu/" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/4280/4280792.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#lich-van-nien" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/747/747310.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#xem-tuoi" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/3448/3448334.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#chon-ngay" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077976.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#hoa-giai" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#menh-ngu-hanh" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/3059/3059384.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

                <div class="col">
                    <a href="#tu-vi" class="btn-icon d-block">
                        <img src="https://cdn-icons-png.flaticon.com/512/1950/1950715.png" alt="icon"
                             class="img-fluid img-button mx-auto">

                    </a>
                </div>

            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block m_content %}
               <div class="blog-area py-4">

  <div class="mb-4 text-center px-3">
    <h2 class="fw-bold text-dark text-primary mb-2">Bát Tự Phong Thủy</h2>
    <p class="text-dark fw-medium mb-2">
      Bát tự là phương pháp giải mã tổ hợp của 8 chữ thiên can địa chi.
      Mặc dù chỉ có 8 chữ nhưng có thể hợp thành 500.000 mệnh cục, lại do sự khác biệt khi luận đoán.
    </p>
  </div>

  <div class="row text-center gx-2 gy-3">
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/HeimerLockh%C3%BCtte%281805%29-%28800x500%29.jpg"
           class="img-fluid rounded shadow-sm" alt="Ảnh 1">
    </div>
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/HeimerLockh%C3%BCtte%281805%29-%28800x500%29.jpg"
           class="img-fluid rounded shadow-sm" alt="Ảnh 2">
    </div>
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/HeimerLockh%C3%BCtte%281805%29-%28800x500%29.jpg"
           class="img-fluid rounded shadow-sm" alt="Ảnh 3">
    </div>
  </div>

</div>


                {% endblock %}
                <div class="blog-area">
                    <div class="block-title-custom">
                        <h3 id="phong-thuy-dia-ly"><span>Tài Liệu Phong Thủy</span></h3>
                    </div>

                    <div class="row">
                        {% if phong_thuy_posts %}
                        <div class="col-lg-6">
                            {% with first_post=phong_thuy_posts.0 %}
                            <article class="card card-full hover-a mb-4">
                                <div class="ratio_360-202 image-wrapper">
                                    <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">
                                        {% if first_post.image_url %}
                                        <img width="390" height="220"
                                             src="{{ first_post.image_url }}"
                                             class="img-fluid w-80 attachment-390x220 size-390x220 lazyloaded"
                                             alt="{{ first_post.post.title }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title h1-sm h3-lg">
                                        <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">{{
                                            first_post.post.title }}</a>
                                    </h2>
                                    <div class="card-text mb-2 text-muted small">
                                        <time datetime="{{ first_post.post.first_published_at|date:'Y-m-d H:i' }}">
                                            {{ first_post.post.first_published_at|date:'d/m/Y H:i' }}
                                        </time>
                                    </div>
                                    <p class="card-text line-clamp-3">{{ first_post.post.search_description}}</p>
                                </div>
                            </article>
                            {% endwith %}
                        </div>

                        <div class="col-lg-6">
                            {% for post in phong_thuy_posts|slice:"1:" %}
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <div class="ratio_115-80 image-wrapper">
                                            <a href="{{ post.post.url }}" title="{{ post.post.title }}">
                                                {% if post.image_url %}
                                                <img width="125" height="80"
                                                     src="{{ post.image_url }}"
                                                     class="img-fluid w-80 attachment-125x80 size-125x80 lazyloaded"
                                                     alt="{{ post.post.title }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title h6 h5-sm h6-lg">
                                                <a href="{{ post.post.url }}" title="{{ post.post.title }}">{{
                                                    post.post.title }}</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="{{ post.post.first_published_at|date:'Y-m-d H:i' }}">
                                                    {{ post.post.first_published_at|date:'d/m/Y H:i' }}
                                                </time>
                                            </div>
                                            <p class="card-text line-clamp-3">{{post.post.search_description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <a href="/tai-lieu-phong-thuy" class="btn btn-primary">Xem thêm</a>
                        </div>
                        {% else %}
                        <p>Chưa có bài viết nào trong danh mục này.</p>
                        {% endif %}
                    </div>

                </div>
                <div class="blog-area">
                    <div class="block-title-custom">
                        <h3 id="dao-ly-co-nhan"><span>Tài Liệu Đạo Xưa</span></h3>
                    </div>

                    <div class="row">
                        {% if dao_ly_co_nhan_posts %}
                        <div class="col-lg-6">
                            {% with first_post=dao_ly_co_nhan_posts.0 %}
                            <article class="card card-full hover-a mb-4">
                                <div class="ratio_360-202 image-wrapper">
                                    <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">
                                        {% if first_post.image_url %}
                                        <img width="390" height="220"
                                             src="{{ first_post.image_url }}"
                                             class="img-fluid w-80 attachment-390x220 size-390x220 lazyloaded"
                                             alt="{{ first_post.post.title }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title h1-sm h3-lg">
                                        <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">{{
                                            first_post.post.title }}</a>
                                    </h2>
                                    <div class="card-text mb-2 text-muted small">
                                        <time datetime="{{ first_post.post.first_published_at|date:'Y-m-d H:i' }}">
                                            {{ first_post.post.first_published_at|date:'d/m/Y H:i' }}
                                        </time>
                                    </div>
                                    <p class="card-text line-clamp-3">{{ first_post.post.search_description}}</p>
                                </div>
                            </article>
                            {% endwith %}
                        </div>

                        <div class="col-lg-6">
                            {% for post in dao_ly_co_nhan_posts|slice:"1:" %}
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <div class="ratio_115-80 image-wrapper">
                                            <a href="{{ post.post.url }}" title="{{ post.post.title }}">
                                                {% if post.image_url %}
                                                <img width="125" height="80"
                                                     src="{{ post.image_url }}"
                                                     class="img-fluid w-80 attachment-125x80 size-125x80 lazyloaded"
                                                     alt="{{ post.post.title }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title h6 h5-sm h6-lg">
                                                <a href="{{ post.post.url }}" title="{{ post.post.title }}">{{
                                                    post.post.title }}</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="{{ post.post.first_published_at|date:'Y-m-d H:i' }}">
                                                    {{ post.post.first_published_at|date:'d/m/Y H:i' }}
                                                </time>
                                            </div>
                                            <p class="card-text line-clamp-3">{{post.post.search_description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <a href="/tai-lieu-co-nhan" class="btn btn-primary">Xem thêm</a>
                        </div>
                        {% else %}
                        <p>Chưa có bài viết nào trong danh mục này.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="blog-area">
                    <div class="block-title-custom">
                        <h3 id="kinh-dich-mai-hoa"><span>Tài Liệu Mai Hoa</span></h3>
                    </div>

                    <div class="row">
                        {% if que_mai_hoa_posts %}
                        <div class="col-lg-6">
                            {% with first_post=que_mai_hoa_posts.0 %}
                            <article class="card card-full hover-a mb-4">
                                <div class="ratio_360-202 image-wrapper">
                                    <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">
                                        {% if first_post.image_url %}
                                        <img width="390" height="220"
                                             src="{{ first_post.image_url }}"
                                             class="img-fluid w-80 attachment-390x220 size-390x220 lazyloaded"
                                             alt="{{ first_post.post.title }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title h1-sm h3-lg">
                                        <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">{{
                                            first_post.post.title }}</a>
                                    </h2>
                                    <div class="card-text mb-2 text-muted small">
                                        <time datetime="{{ first_post.post.first_published_at|date:'Y-m-d H:i' }}">
                                            {{ first_post.post.first_published_at|date:'d/m/Y H:i' }}
                                        </time>
                                    </div>
                                    <p class="card-text line-clamp-3">{{ first_post.post.search_description}}</p>
                                </div>
                            </article>
                            {% endwith %}
                        </div>

                        <div class="col-lg-6">
                            {% for post in que_mai_hoa_posts|slice:"1:" %}
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <div class="ratio_115-80 image-wrapper">
                                            <a href="{{ post.post.url }}" title="{{ post.post.title }}">
                                                {% if post.image_url %}
                                                <img width="125" height="80"
                                                     src="{{ post.image_url }}"
                                                     class="img-fluid w-80 attachment-125x80 size-125x80 lazyloaded"
                                                     alt="{{ post.post.title }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title h6 h5-sm h6-lg">
                                                <a href="{{ post.post.url }}" title="{{ post.post.title }}">{{
                                                    post.post.title }}</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="{{ post.post.first_published_at|date:'Y-m-d H:i' }}">
                                                    {{ post.post.first_published_at|date:'d/m/Y H:i' }}
                                                </time>
                                            </div>
                                            <p class="card-text line-clamp-3">{{post.post.search_description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <a href="/tai-lieu-mai-hoa" class="btn btn-primary">Xem thêm</a>
                        </div>
                        {% else %}
                        <p>Chưa có bài viết nào trong danh mục này.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="blog-area">
                    <div class="block-title-custom">
                        <h3 id="vat-pham-phong-thuy"><span>Tài Liệu Ngũ Hành</span></h3>
                    </div>

                    <div class="row">
                        {% if vat_pham_posts %}
                        <div class="col-lg-6">
                            {% with first_post=vat_pham_posts.0 %}
                            <article class="card card-full hover-a mb-4">
                                <div class="ratio_360-202 image-wrapper">
                                    <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">
                                        {% if first_post.image_url %}
                                        <img width="390" height="220"
                                             src="{{ first_post.image_url }}"
                                             class="img-fluid w-80 attachment-390x220 size-390x220 lazyloaded"
                                             alt="{{ first_post.post.title }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h2 class="card-title h1-sm h3-lg">
                                        <a href="{{ first_post.post.url }}" title="{{ first_post.post.title }}">{{
                                            first_post.post.title }}</a>
                                    </h2>
                                    <div class="card-text mb-2 text-muted small">
                                        <time datetime="{{ first_post.post.first_published_at|date:'Y-m-d H:i' }}">
                                            {{ first_post.post.first_published_at|date:'d/m/Y H:i' }}
                                        </time>
                                    </div>
                                    <p class="card-text line-clamp-3">{{ first_post.post.search_description}}</p>
                                </div>
                            </article>
                            {% endwith %}
                        </div>

                        <div class="col-lg-6">
                            {% for post in vat_pham_posts|slice:"1:" %}
                            <article class="card card-full hover-a mb-4">
                                <div class="row">
                                    <div class="col-3 col-md-4 pe-2 pe-md-0">
                                        <div class="ratio_115-80 image-wrapper">
                                            <a href="{{ post.post.url }}" title="{{ post.post.title }}">
                                                {% if post.image_url %}
                                                <img width="125" height="80"
                                                     src="{{ post.image_url }}"
                                                     class="img-fluid w-80 attachment-125x80 size-125x80 lazyloaded"
                                                     alt="{{ post.post.title }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-9 col-md-8">
                                        <div class="card-body pt-0">
                                            <h3 class="card-title h6 h5-sm h6-lg">
                                                <a href="{{ post.post.url }}" title="{{ post.post.title }}">{{
                                                    post.post.title }}</a>
                                            </h3>
                                            <div class="card-text small text-muted">
                                                <time datetime="{{ post.post.first_published_at|date:'Y-m-d H:i' }}">
                                                    {{ post.post.first_published_at|date:'d/m/Y H:i' }}
                                                </time>
                                            </div>
                                            <p class="card-text line-clamp-3">{{post.post.search_description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <a href="/tai-lieu-ngu-hanh" class="btn btn-primary">Xem thêm</a>
                        </div>
                        {% else %}
                        <p>Chưa có bài viết nào trong danh mục này.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <aside class="col-md-4 end-sidebar-lg-2">
                <div class="sticky">
                    <!--    <img class="img-fluid rounded shadow-sm w-100" src="https://img.freepik.com/free-photo/50th-birthday-arrangement-with-cake-cooking-ingredients_23-2149117985.jpg" alt="Mai Hoa Dịch Quán">-->

                    <!-- Facebook Section -->
                    <div class="social-section">
                        <div class="block-title-custom-z"> Theo dõi chúng tôi trên Fanpage</div>
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous"
                                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0"></script>
                        <div class="fb-page"
                             data-href="https://www.facebook.com/maihoadichquan/"
                             data-tabs="timeline"
                             data-width="500"
                             data-height="400"
                             data-adapt-container-width="true"
                             data-hide-cover="false"
                             data-show-facepile="true">
                        </div>
                    </div>

                    <!-- TikTok Section -->
                    <div class="social-section">
                        <div class="block-title-custom-z"> Xem video mới nhất trên TikTok</div>
                        <blockquote class="tiktok-embed"
                                    cite="https://www.tiktok.com/@maihoadichquan/video/7382903882126593288"
                                    data-video-id="7382903882126593288"
                                    style="max-width: 500px; min-width: 325px;">
                            <section>
                                <a target="_blank" title="Mai Hoa Dịch Quán"
                                   href="https://www.tiktok.com/@maihoadichquan">
                                    @maihoadichquan
                                </a>
                            </section>
                        </blockquote>
                        <script async src="https://www.tiktok.com/embed.js"></script>
                    </div>

                </div>

            </aside>


        </div>

    </div>


</main>
{% endblock %}

<style>
    .card-title {
        color: black; /* Màu mặc định là đen */
        transition: color 0.3s ease-in-out; /* Hiệu ứng chuyển màu mượt mà */
    }

    .card-title:hover {
        color: yellow; /* Màu vàng khi hover */
    }


    @media (max-width: 418px) {
        .image-wrapper img {
            width: 80px; /* Điều chỉnh kích thước ảnh nhỏ hơn */
            height: auto; /* Giữ tỷ lệ */
        }
    }


    .list-tools .tool-its a {
        color: #fff !important;
        background: rgba(207, 58, 23, 0.6) !important;
        padding: 6px 4px !important;
        width: 100% !important;
        display: inline-block !important;
        font-size: 18px !important;
        text-align: center !important;
        border-radius: 5px;
        text-decoration: none;
    }

    .list-tools .tool-it a:hover,
    .list-tools .tool-it a.active {
        background: #910101;
    }

    /* Global Styles */
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #D6B074;
        color: #333;
        margin: 0;
        padding: 0;
    }


    .about-section h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .about-section .feature-box {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
    }

    .about-section .feature-box:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .about-section .icon {
        font-size: 40px;
        color: #ffc107;
        margin-bottom: 10px;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .about-section h2 {
            font-size: 1.8rem;
        }

    }


</style>
